body{
    box-sizing: border-box;
    background-color: black;
    font-family: "微軟正黑體", "Ariel", monospace;
    margin: 0;
}


.panel{
    display: flex;
}
.main_panel{
    width: 66vw;
    height: 86vh;
    position: relative;
}
.main_info{
    color: white;
}
.main_icon{
    font-size: 40pt;
    background-color: rgb(144, 28, 246);
    width: 100pt;
    height: 100pt;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_name{
    font-size: 14pt;
    margin: 0;
    position: absolute;
    left: 7%;
    top: 100%;
    transform: translate(-7%, -100%);
}
.main_pin{
    width: 25pt;
    height: 25pt;
    margin: 0;
    position: absolute;
    left: 3%;
    top: 101%;
    transform: translate(-3%, -101%);
}
.main_mute{
    width: 25pt;
    height: 25pt;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 50%;
    margin: 0;
    position: absolute;
    left: 98%;
    top: 5%;
    transform: translate(-98%, -5%);
}


.side_panel {
    width: 35vw;
    height: 86vh;
}
.side_info{
    color: white;
    font-size: 22pt;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.upper_black_area{
    background-color: black;
    width: 34vw;
    height: 8vh;
}
.frame{
    background-color: rgb(80, 80, 80);
    padding: 0.8vh;
    box-shadow: inset 0 0 0 0.8vh black;
    border-radius: 10pt;
    margin: 0;
    position: relative;
}
.frame1{
    width: 15vw;
    height: 22vh;
}
.frame2 {
    width: 15vw;
    height: 22vh;
}
.frame3 {
    width: 15vw;
    height: 22vh;
}
.frame4 {
    width: 15vw;
    height: 22vh;
}
.frame5 {
    width: 20vw;
    height: 22vh;
}
.side_icon{
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.side_icon1 {
    font-size: 22pt;
    width: 60pt;
    height: 60pt;
    background-color: rgb(8, 109, 25);
}
.side_icon2 {
    font-size: 22pt;
    width: 60pt;
    height: 60pt;
    background-color: rgb(236, 124, 13);
}
.side_icon3 {
    font-size: 22pt;
    width: 60pt;
    height: 60pt;
    background-color: rgb(24, 13, 146);
}
.side_icon4 {
    font-size: 22pt;
    width: 60pt;
    height: 60pt;
    background-color: rgb(182, 21, 163);
}
.side_icon5 {
    font-size: 25pt;
    width: 70pt;
    height: 70pt;
    background-color: rgb(6, 139, 234);
}
.side_name{
    font-size: 12pt;
    margin: 0;
    position: absolute;
    left: 7%;
    top: 90%;
    transform: translate(-7%, -90%);
}
.side_mute {
    width: 20pt;
    height: 20pt;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 50%;
    margin: 0;
    position: absolute;
    left: 92%;
    top: 11%;
    transform: translate(-92%, -11%);
}


.footer_panel {
    width: 98vw;
    height: 13vh;
    position: relative;
}
.room_info{
    color: white;
    font-size: 14pt;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);
}